// veriables for cv
$selection-color: #9fcc3c;
$white: #f3f3f3;
$black: #000;
$color: #333;
$light-gray: #848c90;
$percent-bg: #081921;
$percent-bg-accent: #03a9f4;
$year-highlight: #03a9f4;
$icon-color: #03a9f4;
$lightColor: #777;
$lightBlue-bg: lightblue;
$background-cv-left: #003147;
$background-cv-right: #fff;